package auth

import "muttley/templates"

templ ForgottenPassword(err *AuthError) {
	<!DOCTYPE html>
	<html>
		@templates.Head()
		<body>
			<div id="auth-page">
				<div class="auth-card">
					<div class="auth-card-title"><span>Reset Password</span></div>
					if err != nil {
						<div id="auth-error">
							<div id="auth-error-title">
								<span>{ err.Type }</span>
							</div>
							<div id="auth-error-message">
								<span>{ err.Message }</span>
							</div>
						</div>
					}
					<form
						id="auth-form"
						hx-post="/reset-password"
						hx-swap="innerHTML"
						hx-target="#auth-form"
						hx-indicator=".loading"
					>
						<div class="auth-field">
							<label for="email">Email</label>
							<input id="email" type="email" name="email"/>
						</div>
						<div class="auth-field">
							<label for="password">Password</label>
							<input id="password" type="password" name="password"/>
						</div>
						<div class="auth-field">
							<label for="confirm-password">Confirm Password</label>
							<input id="confirm-password" type="password" name="confirm-password"/>
						</div>
						<input class="auth-submit" type="submit" value="Reset"/>
					</form>
					<div class="loading auth-loading">Loading...</div>
					<div class="auth-links">
						Already have an account? <a href="/login">Log in</a>
					</div>
				</div>
			</div>
		</body>
	</html>
}
