package auth

import "muttley/templates"

templ ForgottenPassword(err *AuthError) {
	<!DOCTYPE html>
	<html>
		@templates.Head()
		<body>
			<div id="auth-page">
				<div id="auth-page-left" class="auth-split"></div>
				<div id="auth-page-right" class="auth-split">
					<div id="auth-form-section">
						if err != nil {
							<div id="auth-error">
								<div id="auth-error-title">
									<span>{ err.Type }</span>
								</div>
								<div id="auth-error-message">
									<span>{ err.Message }</span>
								</div>
							</div>
						}
						<form
							id="auth-form"
							hx-post="/reset-password"
							hx-swap="innerHTML"
							hx-target="#auth-form"
							hx-indicator=".loading"
						>
							<div>
								<label for="email">Email</label>
								<input class="input-full-width" type="email" name="email"/>
							</div>
							<div>
								<label for="password">Password</label>
								<input class="input-full-width" type="password" name="password"/>
							</div>
							<div>
								<label for="password">Confirm Password</label>
								<input class="input-full-width" type="password" name="confirm-password"/>
							</div>
							<div>
								<input class="input-full-width submit-button" type="submit" value="Reset"/>
							</div>
						</form>
						<div class="loading" style="display:none;">Loading...</div>
					</div>
				</div>
			</div>
		</body>
	</html>
}
