package auth

import "muttley/templates"

templ Login(err *AuthError) {
	<!DOCTYPE html>
	<html>
		@templates.Head()
		<body>
			<div id="auth-page">
				<div class="auth-card">
					<div class="auth-card-title"><span>Login</span></div>
					if err != nil {
						<div id="auth-error">
							<div id="auth-error-title">
								<span>{ err.Type }</span>
							</div>
							<div id="auth-error-message">
								<span>{ err.Message }</span>
							</div>
						</div>
					}
					<form id="auth-form" action="login" method="POST">
						<div class="auth-field">
							<label for="email">Email</label>
							<input id="email" type="email" name="email"/>
						</div>
						<div class="auth-field">
							<label for="password">Password</label>
							<input id="password" type="password" name="password"/>
						</div>
						<input class="auth-submit" type="submit" value="Login"/>
					</form>
					<form id="auth-create-account-form" action="signup" method="GET">
						<input type="submit" id="auth-create-account-submit" class="auth-submit" value="Create Account"/>
					</form>
					<div class="auth-links">
						Forgot your password? <a href="/forgotten-password">Reset it</a>
					</div>
				</div>
			</div>
		</body>
	</html>
}
