package auth

templ ResetPasswordSuccess() {
	<div class="auth-success">
		<div class="auth-success-title">Password reset successful</div>
		<div class="auth-success-message">You can now sign in with your new password.</div>
	</div>
}
