package dashboard 

import (
	"muttley/sqlite/entities"
	"muttley/templates"
)

templ Dashboard(dashboard entities.GetDashboardRow, bestTrack string, locationStats []entities.GetLocationStatsRow, recentPositions []int64, recentEvents []entities.GetRecentEventsRow) {
	@templates.Head()
	@templates.Header()
	<div class="main-container">
		<div class="dashboard">
			<div class="dashboard-top-row dashboard-row dashboard-row-flex">
				<div class="dashboard-top-row-item dashboard-top-row-item-half-flex">
					<div class="dashboard-top-row-item-title"><span>Races</span></div>
					<div class="dashboard-top-row-item-content"><span>{ dashboard.Totalraces }</span></div>
				</div>
				<div class="dashboard-top-row-item dashboard-top-row-item-one-flex">
					<div class="dashboard-top-row-item-title"><span>Wins</span></div>
					<div class="dashboard-top-row-item-content"><span><sup>{ dashboard.Totalwins }</sup>/<sub>{ dashboard.Totalraces }</sub></span> <span class="dashboard-top-row-item-percentage">{ dashboard.Winrate }%</span></div>
				</div>
				<div class="dashboard-top-row-item dashboard-top-row-item-one-flex">
					<div class="dashboard-top-row-item-title"><span>Podiums</span></div>
					<div class="dashboard-top-row-item-content"><span><sup>{ dashboard.Totalpodiums }</sup>/<sub>{ dashboard.Totalraces }</sub></span> <span class="dashboard-top-row-item-percentage">{ dashboard.Podiumrate }%</span></div>
				</div>
				<div class="dashboard-top-row-item dashboard-top-row-item-one-flex">
					<div class="dashboard-top-row-item-title "><span>Best Place</span></div>
					<div class="dashboard-top-row-item-content"><span>{ dashboard.Bestposition }<sup style="font-size:0.5em">th</sup></span></div>
				</div>
				<div class="dashboard-top-row-item dashboard-top-row-item-one-flex">
					<div class="dashboard-top-row-item-title"><span>Average Place</span></div>
					<div class="dashboard-top-row-item-content"><span>{ dashboard.Avgposition }<sup style="font-size:0.5em">th</sup></span></div>
				</div>
				<div class="dashboard-top-row-item dashboard-top-row-item-one-flex">
					<div class="dashboard-top-row-item-title"><span>Head To Head Wins</span></div>
					<div class="dashboard-top-row-item-content"><span>1</span></div>
				</div>
				<div class="dashboard-top-row-item dashboard-top-row-item-one-flex" style="margin-right:0;">
					<div class="dashboard-top-row-item-title"><span>Best Track</span></div>
					<div class="dashboard-top-row-item-content dashboard-top-row-item-content-best-track">
						if bestTrack == "" {
							{ "-" }
						} else {
							{ bestTrack }
						}
					</div>
				</div>
			</div>
			<div class="dashboard-row dashboard-row-flex dashboard-top-row">
				<div id="dashboard-track-count-bar-chart-container" class="dashboard-top-row-item-one-flex">
					<div class="dashboard-chart-canvas-wrap">
						<canvas id="dashboard-track-count-bar-chart"></canvas>
					</div>
				</div>
				<div id="dashboard-position-line-chart-container" class="dashboard-top-row-item-one-flex">
					<div class="dashboard-chart-canvas-wrap">
						<canvas id="dashboard-line-chart"></canvas>
					</div>
				</div>
			</div>
			<div class="dashboard-list dashboard-row">
				<table id="dashboard-table">
					<thead>
						<th class="dashboard-header-cell">Date</th>
						<th class="dashboard-header-cell">Location</th>
						<th class="dashboard-header-cell">Event Type</th>
						<th class="dashboard-header-cell">Best Lap Time</th>
						<th class="dashboard-header-cell">Average Lap Time</th>
						<th class="dashboard-header-cell">Position</th>
						<th class="dashboard-header-cell">Number Of Laps</th>
					</thead>
					<tbody>
						for _, event := range recentEvents {
							<tr class="dashboard-row">
								<td class="dashboard-cell">{ event.Event.Date }</td>
								<td class="dashboard-cell">{ event.Location.Name }</td>
								<td class="dashboard-cell">{ event.Event.Type }</td>
								<td class="dashboard-cell">{ event.EventResult.BestLapTime }</td>
								<td class="dashboard-cell">{ event.EventResult.AverageLapTime }</td>
								<td class="dashboard-cell">{ event.EventResult.Position }</td>
								<td class="dashboard-cell">{ event.EventResult.NumberOfLaps }</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script>
        const trackChart = document.getElementById('dashboard-track-count-bar-chart');
        const trackChartLabels = {{ getTrackChartDataLabel(locationStats) }}
        const trackChartData = {{ getTrackChartData(locationStats) }}

        document.addEventListener('DOMContentLoaded',function() {
            new Chart(trackChart, {
                type: 'bar',
                data: {
                    labels: trackChartLabels,
                    datasets: [{
                        data: trackChartData,
                        backgroundColor: '#3b82f6',
                        borderColor: '#2563eb',
                        borderWidth: 0,
                        borderRadius: 6,
                        maxBarThickness: 45
                    }]
                },
                options: {
                    indexAxis:'y',
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            display: false,
                        },
                        title: {
                            display: false
                        }
                    },
                    scales: {
                        x: {
                            display: false,
                            grid: { display: false },
                        },
                        y: {
                            grid: { display: false },
                            border: { display: false }
                        }
                    }
                },
            });

            const ctx = document.getElementById('dashboard-line-chart');
                
             new Chart(ctx, {
                type: 'line',
                data: {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul'],
                datasets: [{
                    data: {{ recentPositions }},
                    borderColor: '#3b82f6',
                    backgroundColor: 'rgba(59, 130, 246, 0.1)',
                    borderWidth: 3,
                    tension: 0.4,           // Smooth curve
                    pointRadius: 5,
                    pointHoverRadius: 7,
                    pointBackgroundColor: '#fff',
                    pointBorderWidth: 2
                }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    
                    plugins: {
                        legend: { display: false},
                    },
                     tooltip: {
                        callbacks: {
                            title: function() {
                            return '';        // Removes the X-axis label (Jan, Feb, etc.)
                            }
                        }
                    },
                    scales: {
                        x: { 
                            display: false,           // X axis hidden
                            grid: { display: false },
                            ticks: { display: false}

                        },
                        y: { 
                            reverse: true,
                            border: { display: false },   // Y axis line removed
                            grid: { display: false },
                            ticks: {
                                    stepSize: 1
                                }
                        }
                    }
                },
            });
        });

    </script>
}

func getTrackChartDataLabel(locationStats []entities.GetLocationStatsRow) []string {
	labels := []string{}
	for _, locationStat := range locationStats {
		labels = append(labels, locationStat.Name)
	}
	return labels
}

func getTrackChartData(locationStats []entities.GetLocationStatsRow) []int64 {
	data := []int64{}
	for _, locationStat := range locationStats {
		data = append(data, locationStat.Count)
	}
	return data
}
