package templates

import "muttley/sqlite/entities"

templ Friend(friends []entities.GetFriendsByUserRow) {
	@Head()
	@Header()
	<body>
		<div id="friend-container">
			<div id="friend-actions">
				<ul id="friend-actions">
					<input
						hx-get="/search/friends"
						hx-target="#friend-list"
						hx-trigger="keyup changed delay:500ms"
						type="search"
						id="friends-search-input"
						name="searchTerm"
						placeholder="Search..."
						minlength="3"
						maxlength="20"
					/>
				</ul>
			</div>
			<div id="friend-list">
				for _, friend := range friends {
					<div class="friend-card">
						<h3>{ friend.FirstName + " " + friend.LastName } </h3>
						if friend.FriendStatus == "ACCEPTED" {
							<button disabled>Accepted</button>
						} else if friend.FriendStatus == "REQUEST_PENDING" {
							<button>Pending Request</button>
						}
					</div>
				}
			</div>
		</div>
	</body>
}
