package templates

import "muttley/sqlite/entities"

templ Friend(friends []entities.GetFriendsByUserRow) {
	@Head()
	@Header()
	<body>
		<div id="friends-container">
			<ul id="friends-list">
				for _, friend := range friends {
					<span>{ friend.ID }</span>
				}
			</ul>
		</div>
	</body>
}
