package templates

import (
	"fmt"
	"muttley/sqlite/entities"
)

func formatTime(time int64) string {
	minutes := time / 60000
	seconds := (time % 60000) / 1000
	millis := time % 1000
	return fmt.Sprintf("%02d:%02d.%03d", minutes, seconds, millis)
}

templ Leaderboard(events []entities.GetEventsByUserRow) {
	@Head() {
		<link rel="stylesheet" type="text/css" href="/styles/leaderboard.css"/>
	}
	@Header()
	<div class="main-container">
		<div id="leaderboard-container">
			<div class="leaderboard-list">
				<table id="leaderboard-table">
					<thead>
						<th class="leaderboard-header-cell">Pos</th>
						<th class="leaderboard-header-cell">Driver</th>
						<th class="leaderboard-header-cell">Date</th>
						<th class="leaderboard-header-cell">Location</th>
						<th class="leaderboard-header-cell">Event Type</th>
						<th class="leaderboard-header-cell">Best Lap Time</th>
						<th class="leaderboard-header-cell">Average Lap Time</th>
						<th class="leaderboard-header-cell">Position</th>
						<th class="leaderboard-header-cell">Number Of Laps</th>
					</thead>
					<tbody>
						for index, event := range events {
							<tr class="leaderboard-row">
								<td class="leaderboard-cell">{ index + 1 }</td>
								<td class="leaderboard-cell">{ event.User.FirstName + " " + event.User.LastName }</td>
								<td class="leaderboard-cell">{ event.Event.Date }</td>
								<td class="leaderboard-cell">{ event.Location.Name }</td>
								<td class="leaderboard-cell">{ event.Event.Type }</td>
								<td class="leaderboard-cell">{ formatTime(event.EventResult.BestLapTime) }</td>
								<td class="leaderboard-cell">{ formatTime(event.EventResult.AverageLapTime) }</td>
								<td class="leaderboard-cell">{ event.EventResult.Position }</td>
								<td class="leaderboard-cell">{ event.EventResult.NumberOfLaps }</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
}
