package templates

templ Login(failedAuth bool) {
	<!DOCTYPE html>
	<html>
		@Head()
		<body>
			<div id="login-page">
				<div id="login-page-left" class="login-split"></div>
				<div id="login-page-right" class="login-split">
					<div id="login-form-section">
						<form id="login-form" action="login" method="POST">
							<div>
								<label for="email">Email</label>
								<input class="input-full-width" type="email" name="email"/>
							</div>
							<div>
								<label for="password">Password</label>
								<input class="input-full-width" type="password" name="password"/>
							</div>
							<div>
								<input class="input-full-width submit-button" type="submit" value="Login"/>
							</div>
						</form>
						<div>
							<form id="login-form" action="signup" method="GET">
								<input type="submit" id="login-form-create-account" class="input-full-width submit-button" value="Create Account"/>
							</form>
						</div>
						<div id="login-error">
							if failedAuth == true {
								<span>
									Invalid username or password. Please try again.
								</span>
							}
						</div>
					</div>
				</div>
			</div>
		</body>
	</html>
}
