package templates

templ Nav() {
	<nav>
		<ul>
			<li><a href="/"><h1>Muttley</h1></a></li>
			<li><a href="/leaderboard">Leaderboard</a></li>
			<li><a href="/friends">Friends</a></li>
			<li><a href="/upload">Upload</a></li>
		</ul>
		<form id="logout" action="/logout" method="post">
			<button type="submit">Logout</button>
		</form>
	</nav>
}
