package templates

templ Nav() {
	<nav class="sidebar">
		<ul class="nav-menu">
			<li><a href="/"><h1>Muttley</h1></a></li>
			<li><a href="/leaderboard">Leaderboard</a></li>
			<li><a href="/friends">Friends</a></li>
			<li><a href="/upload">Upload</a></li>
			<li>
				<a
					style="cursor:pointer;"
					hx-post="/logout"
					hx-swap="none"
				>Logout</a>
			</li>
		</ul>
	</nav>
}
