package templates

templ Signup() {
	<!DOCTYPE html>
	<html>
		@Head()
		<body>
			<div id="auth-page">
				<div class="auth-card">
					<div class="auth-card-title"><span>Create Account</span></div>
					<form id="auth-form" name="signup" action="/signup" method="POST">
						<div class="auth-field-row">
							<div class="auth-field">
								<label for="first-name">First Name</label>
								<input id="first-name" type="text" name="first-name"/>
							</div>
							<div class="auth-field">
								<label for="last-name">Last Name</label>
								<input id="last-name" type="text" name="last-name"/>
							</div>
						</div>
						<div class="auth-field">
							<label for="display-name">Display Name</label>
							<input id="display-name" type="text" name="display-name"/>
						</div>
						<div class="auth-field">
							<label for="email">Email</label>
							<input id="email" type="email" name="email"/>
						</div>
						<div class="auth-field">
							<label for="email-confirm">Confirm Email</label>
							<input id="email-confirm" type="email" name="email-confirm"/>
						</div>
						<div class="auth-field">
							<label for="password">Password</label>
							<input id="password" type="password" name="password"/>
						</div>
						<div class="auth-field">
							<label for="password-confirm">Confirm Password</label>
							<input id="password-confirm" type="password" name="password-confirm"/>
						</div>
						<input class="auth-submit" type="submit" value="Sign up"/>
					</form>
					<div class="auth-links">
						Already have an account? <a href="/login">Log in</a>
					</div>
				</div>
			</div>
		</body>
	</html>
}
