package templates 

templ UploadFile() {
	<!DOCTYPE html>
	@Head()
	@Header()
	<body>
		<div class="main-container">
			<div id="upload-file-container">
				<div>
					<form id="upload-file-form" method="post" action="/upload/process" enctype="multipart/form-data">
						<div id="upload-file-location">
							<label for="file-location">Track:</label>
							<select name="file-location">
								<option value="Daytona Milton Keynes">Daytona Milton Keynes</option>
								<option value="Daytona Sandown Park">Daytona Sandown Park</option>
							</select>
						</div>
						<div id="upload-file-file">
							<input id="upload-file-input" type="file" name="file" accept=".eml"/>
						</div>
						<input id="file-upload-submit" value="Submit" type="submit"/>
					</form>
				</div>
			</div>
		</div>
	</body>
}
