:root {
    --bg-dark: hsl(0, 0%, 0%);
    --bg: hsl(0, 0%, 5%);
    --bg-light: hsl(0, 0%, 10%);
    --text: hsl(0, 0%, 85%);
    --text-muted: hsl(0, 0%, 70%);
    --border: hsl(0, 0%, 30%);
    --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
    --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
    --highlight: hsl(0, 0%, 60%);
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-dark: hsl(0, 0%, 90%);
        --bg: hsl(0, 0%, 95%);
        --bg-light: hsl(0, 0%, 100%);
        --text: hsl(0, 0%, 15%);
        --text-muted: hsl(0, 0%, 30%);
        --border: hsl(0, 0%, 80%);
        --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
        --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
        --highlight: hsl(0, 0%, 60%);
    }
}

html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg)
}

body {
    margin:0;
    padding:0;
    background-color: var(--bg);
    color: var(--text)
}

header {
    margin:0;
    padding:0;
}

.main-container {
    margin-left: 210px;
    background-color: var(--bg-dark);
    border-radius:15px;
    height:90vh;
    margin-top: 1vh;
    padding-top: 40px;
    padding-left: 40px;
    flex: 1;
    border: 0.25px solid var(--border)
}


/* Nav */
.sidebar {
    width: 200px;
    height: 100vh;
    background-color: var(--bg);
    color: var(--text);
    display: flex;
    flex-direction: column;
    position: fixed;
    top:0;
    overflow-y: auto;
    transition: all 0.3s ease;
}

.sidebar ul {
    margin:0;
    padding: 0;
}

.sidebar-button {
    height: 24px;
    width: 24px;
    border: 1px solid var(--border);
    border-radius: 5px;
    background-color: var(--bg-light);
}

.sidebar-button:hover {
    background-color: var(--bg-dark)
}  

.sidebar-icon {
    height: 24px;
    width: 24px;
    stroke: var(--text-muted)
    stroke-width: 11;
}

.nav-menu {
    list-style: none;
}

.nav-menu li {
    margin-left:30px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.nav-menu li div { 
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 0.9em;
    padding:5px;
    padding-left:15px;
    padding-right:15px;
    border-radius:5px;
    width:125px;
}

@media (prefers-color-scheme: dark) {
    .nav-menu li div:hover { 
        background-color: var(--bg-light)
    }
}

@media (prefers-color-scheme: light) {
    .nav-menu li div:hover { 
        background-color: var(--bg-dark)
    }
}

.nav-menu span {
}

.nav-menu a {
    display: flex;
    color: var(--text);
    align-items: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: all 0.3s ease;
    vertical-align:middle;
}


/* Auth Pages */

.input-full-width {
    border: 1px solid #CCCCCC;
    width:425px;
}

.input-half-width {
    border: 1px solid #CCCCCC;
    width:200px;
}

#auth-page {
    width:100%;
}

.auth-split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

#auth-page-left {
  left: 0;
  width: 35%;
  background-color: #111;
}

#auth-page-right {
  right: 0;
  width:65%;
}

#auth-form-section {
    width: 80%;
    margin: 0 auto;
    margin-left: 25%;
    margin-top: 20%;
}

#auth-form input, label {
    display: block;
    margin-right:20px;
}

#auth-form input {
    height:50px;
    border-radius: 10px; 
    box-shadow:none;
    font-size: 1.25em;
}

#auth-form label {
    margin-top:20px;
    margin-bottom:5px;
}

.input-full-width {
    border: 1px solid #CCCCCC;
    width:425px;
}

.input-half-width {
    border: 1px solid #CCCCCC;
    width:200px;
}

.submit-button {
    margin-top:20px;
    background-color: black;
    color:white;
    border:none;
    box-shadow: none;
    border-radius: 200px;
    height:50px;
}

#auth-error {
    background-color: #FFBABA;
    margin-top: 20px;
    width:425px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 5px;
    color: #991B1B;
}

#auth-error #auth-error-title, #auth-error-message{
    margin-left:10px;
    margin-bottom: 5px;
}

#auth-error-title span{
    font-weight: bold;
}

/* Dashboard */

.dashboard{
    padding-right:20px;
}

.dashboard-row{
    margin-bottom: 20px;
}

.dashboard-row-flex {
    display: inline-flex;
}

.dashboard-top-row {
    width:100%;
}

.dashboard-top-row-item-half-flex {
    flex:0.5;
}

.dashboard-top-row-item-one-flex {
    flex:0.75;
}

.dashboard-top-row-item {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 110px;
    background-color: var(--bg);
    margin-right: 25px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid var(--border);
}

.dashboard-top-row-item-title {
    padding: 10px;
    margin-bottom:10px;
    font-weight:bold;
    border-bottom: 1px solid var(--border);
}

.dashboard-top-row-item-content {
    text-align:center;
    padding: 10px;
    padding-bottom: 20px;
    font-size: 2em;
    display: inline-block;
    vertical-align: top;
    width: 90%;
}

.dashboard-top-row-item-content span {
    width: 45%;
    display: inline-block;
}

.dashboard-top-row-item-content-best-track {
    display: block;
    font-size: 1em;
}

.dashboard-top-row-item-percentage {
    font-size: 0.65em;
}

.dashboard-list{
    border: 1px solid var(--border);
    border-radius: 10px;
}

#dashboard-table {
    border-collapse: collapse;
    width:100%;
    border-radius:7px;
    overflow: hidden;
}

#dashboard-table thead {
    background-color: var(--bg-light);
    color: var(--text);
}

#dashboard-table tr {
    background-color: var(--bg);
    border-bottom: 1px solid var(--border)
}

.dashboard-header-cell {
    padding: 10px;
    text-align:center;
    border: none;
}

.dashboard-cell {
    padding: 10px;
    text-align:center;
    border: none;
}
#dashboard-track-count-bar-chart-container{
    margin-right: 56px;
}

#dashboard-track-count-bar-chart-container, #dashboard-position-line-chart-container {
    padding: 10px;
    background-color: var(--bg);
    width: 700px;
    border-radius: 10px;
    border: 1px solid var(--border)
}


/* Leaderboard */

#leaderboard-container {
    margin: 0 auto;
    margin-top: 50px;
    width: 1280px;
}

#leaderboard-table {
    border-collapse: collapse;
    border-radius:7px;
    overflow: hidden;
    width:100%;
}

#leaderboard-table thead {
    background-color: var(--bg);
    color: var(--text);
}

.leaderboard-header-cell {
    padding: 10px;
    text-align:center;
    border: none;
}

#leaderboard-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.leaderboard-cell {
    padding: 10px;
    text-align:center;
    border: none;
}

/* Upload File */

#upload-file-container {
   width:1280px; 
   margin: 0 auto;
}

#upload-file-form {
    margin: 0 auto;
    width:75%;
    margin-top:20px;
}

#upload-file-form input {
    margin-top: 20px;
}

#upload-file-form input[type="file"]::file-selector-button {
   border-radius: 4px;
   padding: 0 16px;
   height:40px;
   cursor: pointer;
   background-color: white;
   border: 1px solid rgba(0, 0, 0, 0.16);
   box-shadow: 0px, 1px, 0px, rgba(0, 0, 0, 0.5);
   margin-right: 16px;
   transition: background-color 200ms;
}

#upload-file-form input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
}

#upload-file-form input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
}

#upload-file-form select {
border: none;
border-bottom: 2px solid #ddd;
border-radius: 0;
padding: 6px 0;
background: transparent;
}

#upload-file-form select:focus {
border-bottom-color: #0066cc;
outline: none;
}

#upload-file-form input[type='submit'] {
    padding:15px 25px;
    background-color: black;
    color:white;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

/* Friends */

#friend-container {
    width: 1280px;
    margin: 0 auto; 
}

#friend-actions {
    margin: 0 auto; 
    width: 720px;
    display: flex;
    justify-content: flex-end; 
    gap: 12px; 
    margin-bottom:50px;
}

#friend-actions ul{
    margin: 0 auto; 
    width: 720px;
}


#friend-actions li {
    list-style: none;
    display: inline-block;
}

#friend-list {
    margin: 0 auto; 
    width: 720px;
}

#friend-list li {
    list-style: none;
}

.friend-card {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
