:root {
    --bg-dark: hsl(0, 0%, 0%);
    --bg: hsl(0, 0%, 5%);
    --bg-light: hsl(0, 0%, 10%);
    --text: hsl(0, 0%, 95%);
    --text-muted: hsl(0, 0%, 70%);
    --border: hsl(0, 0%, 30%);
    --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
    --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
    --highlight: hsl(0, 0%, 60%);
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-dark: hsl(0, 0%, 90%);
        --bg: hsl(0, 0%, 95%);
        --bg-light: hsl(0, 0%, 100%);
        --text: hsl(0, 0%, 5%);
        --text-muted: hsl(0, 0%, 30%);
        --border: hsl(0, 0%, 30%);
        --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
        --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
        --highlight: hsl(0, 0%, 60%);
    }
}

html {
    font-family: Arial, sans-serif;
    margin: 0;
}

body {
    margin:0;
    padding:0;
    background-color: var(--bg);
    color: var(--text)
}

header {
    margin:0;
    padding:0;
}

.main-content {
    margin-left: 100px;
    padding: 40px;
    flex: 1;
}

/* Nav */
.sidebar {
    width: 100px;
    background-color: var(--bg-dark);
    color: var(--text);
    position: fixed;
    top:0;
    height: 100vh;
    overflow-y: auto;
    transition: all 0.3s ease;
}

.sidebar ul {
    margin:0;
    padding: 0;
}

.sidebar-button {
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 12px 10px 6px 10px;
    background-color: var(--bg);
}

.sidebar-button:hover {
    background-color: var(--bg-dark)
}  

.sidebar-icon {
    height: 18px;
    width: 18px;
    stroke: var(--text-muted)
    stroke-width: 11;
}

.nav-menu {
    list-style: none;
}

.nav-menu li {
    text-align: center;
    margin-bottom: 4px;
}

.nav-menu a {
    display: flex;
    color: var(--text);
    align-items: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}


/* Auth Pages */

.input-full-width {
    border: 1px solid #CCCCCC;
    width:425px;
}

.input-half-width {
    border: 1px solid #CCCCCC;
    width:200px;
}

#auth-page {
    width:100%;
}

.auth-split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

#auth-page-left {
  left: 0;
  width: 35%;
  background-color: #111;
}

#auth-page-right {
  right: 0;
  width:65%;
}

#auth-form-section {
    width: 80%;
    margin: 0 auto;
    margin-left: 25%;
    margin-top: 20%;
}

#auth-form input, label {
    display: block;
    margin-right:20px;
}

#auth-form input {
    height:50px;
    border-radius: 10px; 
    box-shadow:none;
    font-size: 1.25em;
}

#auth-form label {
    margin-top:20px;
    margin-bottom:5px;
}

.input-full-width {
    border: 1px solid #CCCCCC;
    width:425px;
}

.input-half-width {
    border: 1px solid #CCCCCC;
    width:200px;
}

.submit-button {
    margin-top:20px;
    background-color: black;
    color:white;
    border:none;
    box-shadow: none;
    border-radius: 200px;
    height:50px;
}

#auth-error {
    background-color: #FFBABA;
    margin-top: 20px;
    width:425px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 5px;
    color: #991B1B;
}

#auth-error #auth-error-title, #auth-error-message{
    margin-left:10px;
    margin-bottom: 5px;
}

#auth-error-title span{
    font-weight: bold;
}

/* Leaderboard */

#leaderboard-container {
    margin: 0 auto;
    margin-top: 50px;
    width: 1280px;
}

#leaderboard-table {
    border-collapse: collapse;
    border-radius:7px;
    overflow: hidden;
    width:100%;
}

#leaderboard-table thead {
    background-color: var(--bg-dark);
    color: var(--text);
}

.leaderboard-header-cell {
    padding: 10px;
    text-align:center;
    border: none;
}

#leaderboard-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.leaderboard-cell {
    padding: 10px;
    text-align:center;
    border: none;
}

/* Upload File */

#upload-file-container {
   width:1280px; 
   margin: 0 auto;
}

#upload-file-form {
    margin: 0 auto;
    width:75%;
    margin-top:20px;
}

#upload-file-form input {
    margin-top: 20px;
}

#upload-file-form input[type="file"]::file-selector-button {
   border-radius: 4px;
   padding: 0 16px;
   height:40px;
   cursor: pointer;
   background-color: white;
   border: 1px solid rgba(0, 0, 0, 0.16);
   box-shadow: 0px, 1px, 0px, rgba(0, 0, 0, 0.5);
   margin-right: 16px;
   transition: background-color 200ms;
}

#upload-file-form input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
}

#upload-file-form input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
}

#upload-file-form select {
border: none;
border-bottom: 2px solid #ddd;
border-radius: 0;
padding: 6px 0;
background: transparent;
}

#upload-file-form select:focus {
border-bottom-color: #0066cc;
outline: none;
}

#upload-file-form input[type='submit'] {
    padding:15px 25px;
    background-color: black;
    color:white;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

/* Friends */

#friend-container {
    width: 1280px;
    margin: 0 auto; 
}

#friend-actions {
    margin: 0 auto; 
    width: 720px;
    display: flex;
    justify-content: flex-end; 
    gap: 12px; 
    margin-bottom:50px;
}

#friend-actions ul{
    margin: 0 auto; 
    width: 720px;
}


#friend-actions li {
    list-style: none;
    display: inline-block;
}

#friend-list {
    margin: 0 auto; 
    width: 720px;
}

#friend-list li {
    list-style: none;
}

.friend-card {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
